.menu-button {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-family: "Verdana";
    -fx-font-weight: bold;
    -fx-font-size: 48px;
    -fx-alignment: baseline-left;
    -fx-padding: 25px 10px 20px 20px;
    -fx-min-width: 400;
    -fx-cursor: hand;
}

.menu-button:hover {
    -fx-background-color: #ba3a46;
}

.menu-button:pressed {
    -fx-text-fill: #ff4654;
}

.menu-button:hover.active {
    -fx-background-color: white;
}

.menu-button.active {
    -fx-text-fill: #ff4654;
}